
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 25% 1fr / 18% 1fr;
}

.sidebar {
    background-color: #24a0ed;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 80px repeat(10, 40px);
    list-style-type: none;
    padding: 10px;
}

.sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.sidebar nav ul li:first-of-type {
    align-items: center;
    margin-bottom: 10px;

    .sidebar-icon:first-of-type {
        width: 50px;
        height: 50px;
    }

    .nav-link {
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 2px;
    }
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 2px solid white;    
    justify-self: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 40% 60% / 60% 40%
}

.header form {
    border: 2px solid red;
}

.header .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
    justify-items: center;
}

.profile .bell-button {
    border: 2px solid black;
    background-color: gray;
    width: 20px;
    height: 20px;
}

.profile .profile-picture {
    border: 2px solid black;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 45%;
}

.profile .name-holder {
    width: 80%;
    height: 50%;
    justify-self: start;
    font-weight: 900;
    font-size: large;
    display: grid;
    grid-template: 100% / 100%;
    align-items: center;
}

.header .user-info {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: center;
}

.user-info .profile-picture {
    border: 2px solid black;
    background-color: gray;
    width: 70px;
    height: 70px;
    border-radius: 45%;
    margin-right: -10%;
}

.greeting { 
    font-size: .7rem;
    position: relative;
    top: 15px;
}

.user-info .name-holder {
    width: 100%;
    height: 100%;
    justify-self: start;
    align-self: start;
    font-weight: 900;
    font-size: 1.3rem;
}

.header .header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr;
    align-items: center;
}

.header-buttons button {
    background-color: #24a0ed;
    color: white;
    border: none;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: 700;
    
}

.main-content {
    background-color: lightgray;
    grid-area: 2 / 2  / 3 / 3;
    display: grid;
    grid-template: 60% 35% 1fr / 70% 30%;
}

.main-content .projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 90%;
    padding-left: 20px;
}

.projects .section-header {
    font-size: 1.1rem;
}

.projects .project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(340px, 45%));
    grid-auto-flow: row;
    grid-auto-rows: 200px;
    gap: 20px;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
}

.project-cards > div {
    background-image: linear-gradient(90deg, orange, orange 5%, white 5%);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.main-content .announcements {
    border: 2px solid red;
}

.main-content .trending {
    border: 2px solid green;
}