* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 25% 1fr / 18% 1fr;
}

.sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 80px repeat(10, 40px);
    list-style-type: none;
    padding: 10px;
}

.sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.sidebar nav ul li:first-of-type {
    align-items: center;
    margin-bottom: 10px;

    .sidebar-icon:first-of-type {
        width: 50%;
        height: 50%;
    }

    .nav-link {
        font-size: 1.1rem;
        font-weight: 900;
        letter-spacing: 2px;
    }
}

.sidebar-icon {
    width: 25%;
    height: 40%;
    background-color: gray;
    border: 2px solid white;    
    justify-self: center;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
}

.main-content {
    background-color: lightgray;
    grid-area: 2 / 2  / 3 / 3;
}