* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.container {
    width: 100%;
    min-height: 100vh;
    border: 2px solid red;
    display: grid;
    grid-template: 25% 1fr / 18% 1fr;
}

.sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 3;
}

.main-content {
    background-color: lightgray;
    grid-area: 2 / 2  / 3 / 3;
}