* {
    box-sizing: border-box;
}

:root {
    --sidebar-bgc: #24a0ed;
    --header-bgc: white;
    --main-bgc: #e3e9f2;
    --button-bgc: #24a0ed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.pfp {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.header-buttons button:hover, .notification-button:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 18% 1fr / 18% 1fr;
}

.sidebar {
    background-color: var(--sidebar-bgc);
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 80px repeat(10, 40px);
    list-style-type: none;
    padding: 10px;
}

.sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.sidebar nav ul li:first-of-type {
    align-items: center;
    margin-bottom: 10px;

    .sidebar-icon:first-of-type {
        width: 50px;
        height: 50px;
    }

    .nav-link {
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 2px;
    }
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    justify-self: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header {
    background-color: var(--header-bgc);
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 40% 60% / 60% 40%
}

.header form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-left: 4%;
}

form #searchbar {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: #e3e9f2;
    color: black;
    padding-left: 15px;
}

.header .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
    justify-items: center;
}

.profile .notification-button {
    width: 20px;
    height: 20px;
}


.profile .profile-picture {
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 45%;
}

.profile .name-holder {
    width: 80%;
    height: 50%;
    justify-self: start;
    font-weight: 900;
    font-size: large;
    display: grid;
    grid-template: 100% / 100%;
    align-items: center;
}

.header .user-info {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: center;
}

.user-info .profile-picture {
    background-color: gray;
    width: 70px;
    height: 70px;
    border-radius: 45%;
    margin-right: -10%;
}

.greeting {
    font-size: .7rem;
    position: relative;
    top: 15px;
}

.user-info .name-holder {
    width: 100%;
    height: 100%;
    justify-self: start;
    align-self: start;
    font-weight: 900;
    font-size: 1.3rem;
}

.header .header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr;
    align-items: center;
}

.header-buttons button {
    background-color: var(--button-bgc);
    color: white;
    border: none;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: 700;

}

.main-content {
    background-color: var(--main-bgc);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 60% 35% 1fr / 70% 30%;
}

.main-content .projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 60px 1fr;
    padding-left: 20px;
}

/* .projects .section-header {
    font-size: 1.1rem;
} */

.projects .project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(340px, 45%));
    grid-auto-flow: row;
    grid-auto-rows: 200px;
    gap: 20px;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
}

.project-cards>.project-card {
    background-image: linear-gradient(90deg, orange, orange 5%, white 5%);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 6% 0 10%;
    display: grid;
    grid-template-rows: 10% 1fr 30px;
}

.project-card p {
    padding-top: 10px;
}

.project-card .icons {
    display: grid;
    grid-template-columns: 1fr repeat(3, 40px);
}

.project-card .icons>div {
    width: 20px;
    height: 20px;
}

.project-card .icons::before {
    content: '';
}

.main-content .announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.announcements .announcement-cards {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: max(300px, 80%);
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: min-content;
}

.announcement-cards .announcement-card {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 100%;
    padding: 0 6%;
}

.announcement-card .announcement-title {
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.announcement-card .announcement-content {
    margin: 0;
    padding: 0;
    padding: 10px 0;
    font-size: .8rem;
}

.main-content .trending {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.trending .trending-cards {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: max(300px, 80%);
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: 60px;
}

.trending-cards .trending-card {
    width: 100%;
    height: 100%;
    padding: 0 6%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: center;
}

.trending-card .profile-picture {
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 45%;
}

.trending-card .name-holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3px; 
}

.name-holder .username {
    font-size: .9rem;
    font-weight: 900;
    align-self: end;
}

.name-holder .project-title {
    font-size: .8rem;
    font-weight: 500;
    color: gray;
}
