
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 25% 1fr / 18% 1fr;
}

.sidebar {
    background-color: #24a0ed;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 80px repeat(10, 40px);
    list-style-type: none;
    padding: 10px;
}

.sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.sidebar nav ul li:first-of-type {
    align-items: center;
    margin-bottom: 10px;

    .sidebar-icon:first-of-type {
        width: 50%;
        height: 50%;
    }

    .nav-link {
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 2px;
    }
}

.sidebar-icon {
    width: 25%;
    height: 40%;
    background-color: gray;
    border: 2px solid white;    
    justify-self: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 40% 60% / 60% 40%
}

form {
    border: 2px solid red;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.bell-button {
    border: 2px solid black;
    background-color: gray;
    width: 30%;
    height: 30%;
}

.profile-picture {
    border: 2px solid black;
    background-color: gray;
    width: 50%;
    height: 50%;
    border-radius: 45%;
}

.name-holder {
    width: 80%;
    height: 50%;
    justify-self: start;
    font-weight: 900;
    font-size: large;
    display: grid;
    grid-template: 100% / 100%;
    align-items: center;
}

.user-info {
    display: grid;
    grid-template:1fr 3fr / 1fr 4fr;
    align-items: center;
    justify-items: center;
}

.user-info .profile-picture {
    grid-row: 1 / 3;
}

.greeting {
    justify-self: start;
    font-size: .8rem;
}

.user-info .name-holder {
    align-self: start;
}

.header-buttons {
    border: 2px solid red;
}

.main-content {
    background-color: lightgray;
    grid-area: 2 / 2  / 3 / 3;
}